* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: #000000;
}
nav{
    background-color: #000000;
    height: 52px;
    position: sticky;
}
nav ul {    
    list-style-type: none;
    margin: 0;
    padding: 0;   
}
nav ul.NavTitle li{
    float: left;
}
nav ul.NavOptions li{
    float: right;
}
nav ul li a{
    display: block;    
    text-align: center;
    padding: 14px 16px;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 1.2em;
    color: #8f0000;
    text-decoration: none;
}
nav ul.NavOptions li a:hover{
    background-color: #333333;
}
.Start{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.SText{
    width: 800px;
    display: flex;
    flex-direction: column;   
    justify-content: center;    
}
.STitle {
    color: #8f0000;
    font-size: 4.5em;
    font-family: 'Metal Mania', cursive;
}
.SDescription{
    color: #8c8c8c;
    font-size: 2em;
    margin-bottom: 50px;
    font-family: 'Fjalla One', sans-serif;
}
.SSocialMedia{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;       
}
.SMCard{
    width: 100px; 
    text-align: center;   
}
.SImg{
    width: 400px;
}
